#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.pickers-container {
  display: flex;
  gap: 2rem;
  justify-content: center;
  flex-wrap: wrap;
}

.color-picker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.color-picker label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.css-code {
  background: black;
  padding: 1rem;
  border-radius: 8px;
  margin-top: 2rem;
}

.css-code code {
  display: block;
  padding: 0.5rem;
  background: black;
  border-radius: 4px;
  font-family: monospace;
}


